/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Light gray background */
    text-align: center; /* Center the content */
    margin: 0;
    padding: 0;
  }
  
  #search-form {
    margin: 20px auto; /* Center the form horizontally */
    text-align: center;
    background-color: #ffffff; /* White background for the form */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button[type="submit"], #clear-button {
    background-color: #000; /* Black background for buttons */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover, #clear-button:hover {
    background-color: #333; /* Darken the button background on hover */
  }
  
  #results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center; /* Center the GIFs horizontally */
    padding: 20px;
  }
  
  .gif-container {
    flex: 0 0 24%; /* Adjust the width as needed */
    background-color: #ffffff; /* White background for the GIF containers */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    overflow: hidden;
  }
  
  .gif-container img {
    width: 100%;
    height: auto;
  }
  